.custom-basemap-gallery {
  background: transparent;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.esri-widget.custom-basemap-gallery {
  box-shadow: none;
}

.custom-basemap-gallery__dice-scene {
  perspective: 400px;
}

.custom-basemap-gallery__dice {
  height: 50px;
  width: 50px;
  position: relative;

  font-size: 2.3em;

  transform-style: preserve-3d;
  cursor: pointer;
  transform: rotateX(45deg);
}

.custom-basemap-gallery__dice-face {
  position: absolute;
  height: inherit;
  width: inherit;
  font-weight: bolder;
  -webkit-text-fill-color: ghostwhite;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(7, 19, 94, 0.95);
}

.custom-basemap-gallery__dice-face:before {
  height: inherit;
  display: flex;
  padding-top: 2px;
  padding-right: 2px;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.pentagon polygon {
  stroke-width: 20px;
  stroke: #4159ff;
  fill: rgba(38, 65, 247, 0.95);
}

/* dice faces */

.custom-basemap-gallery__dice-face--1 {
  transform: rotateY(144deg) rotateX(25deg) rotateZ(180deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--1:before {
  content: "1";
}

.custom-basemap-gallery__dice-face--2 {
  transform: rotateY(72deg) rotateX(25deg) rotateZ(180deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--2:before {
  content: "2";
}

.custom-basemap-gallery__dice-face--3 {
  transform: rotateX(25deg) rotateZ(180deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--3:before {
  content: "3";
}

.custom-basemap-gallery__dice-face--4 {
  transform: rotateY(288deg) rotateX(25deg) rotateZ(180deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--4:before {
  content: "4";
}

.custom-basemap-gallery__dice-face--5 {
  transform: rotateY(216deg) rotateX(25deg) rotateZ(180deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--5:before {
  content: "5";
}

.custom-basemap-gallery__dice-face--6 {
  display: unset;
  transform: rotateX(90deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--6:before {
  content: "6";
}

.custom-basemap-gallery__dice-face--7 {
  transform: rotateY(-108deg) rotateX(-25deg) rotateZ(0deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--7:before {
  content: "7";
}

.custom-basemap-gallery__dice-face--8 {
  transform: rotateY(180deg) rotateX(-25deg) rotateZ(0deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--8:before {
  content: "8";
}

.custom-basemap-gallery__dice-face--9 {
  transform: rotateY(36deg) rotateX(-25deg) rotateZ(0deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--9:before {
  content: "9";
}
.custom-basemap-gallery__dice-face--10 {
  transform: rotateY(-252deg) rotateX(-25deg) rotateZ(0deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--10:before {
  content: "10";
}

.custom-basemap-gallery__dice-face--11 {
  transform: rotateY(-36deg) rotateX(-25deg) rotateZ(0deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--11:before {
  content: "11";
}

.custom-basemap-gallery__dice-face--12 {
  display: unset;
  transform: rotateX(-90deg) translate3d(0, 0, 34px);
}

.custom-basemap-gallery__dice-face--12:before {
  content: "12";
}

/* selected dice */

.custom-basemap-gallery__dice--1-selected {
  transform: rotateX(205deg) rotateY(38deg);
}

.custom-basemap-gallery__dice--2-selected {
  transform: rotateX(205deg) rotateY(110deg);
}

.custom-basemap-gallery__dice--3-selected {
  transform: rotateX(205deg) rotateY(180deg);
}

.custom-basemap-gallery__dice--4-selected {
  transform: rotateX(205deg) rotateY(255deg);
}

.custom-basemap-gallery__dice--5-selected {
  transform: rotateX(205deg) rotateY(-33deg);
}

.custom-basemap-gallery__dice--6-selected {
  transform: rotateX(270deg);
}

.custom-basemap-gallery__dice--7-selected {
  transform: rotateX(23deg) rotateY(-105deg);
}

.custom-basemap-gallery__dice--8-selected {
  transform: rotateX(23deg) rotateY(-36deg);
}

.custom-basemap-gallery__dice--9-selected {
  transform: rotateX(23deg) rotateY(36deg);
}

.custom-basemap-gallery__dice--10-selected {
  transform: rotateX(32deg) rotateY(105deg);
}

.custom-basemap-gallery__dice--11-selected {
  transform: rotateX(23deg) rotateY(180deg);
}

.custom-basemap-gallery__dice--12-selected {
  transform: rotateX(90deg);
}

.custom-basemap-gallery__dice--rolling {
  animation: rolling 750ms linear;
}

@keyframes rolling {
  0% {
    transform: rotateX(0) rotateY(0) scale3d(1, 1, 1);
  }
  40% {
    transform: rotateX(360deg) rotateY(180deg) scale3d(1.5, 1.5, 1.5);
  }
  100% {
    transform: rotateX(720deg) rotateY(360deg) scale3d(1, 1, 1);
  }
}
