.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
}

.reveal code {
  color: orange;
  font-style: italic;
}

.reveal h1 {
  font-size: 2.8em;
}

.reveal h2 {
  font-size: 1.8em;
}

.reveal h3 {
  font-size: 1.4em;
}

.reveal h4 {
  font-size: 1.2em;
}

.floating {
  animation: floaty 1s ease-in-out infinite alternate-reverse;
}

@keyframes floaty {
  from {
    transform: translate(0, -10px);
  }
  to {
    transform: translate(0, 10px);
  }
}
